<div class="container">
    <br>
    <div class="header">Movies</div>
</div>

<div id="movies_chart" class="movies_chart" style="width:600px; height:400px;"></div>

<table class="container">
  <tr>
    <th>Name</th>
    <th>First movie</th>
    <th>Second movie</th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.name %></td>
    <td><%= link_to 'Add first', chart_movies_path(:first => movie.id, :second => @second.id) %></td>
    <td><%= link_to 'Add second', chart_movies_path(:first => @first.id, :second => movie.id) %></td>
  </tr>
<% end %>
</table>
