<div class="entry">
    <h2 class="title">Filmy</h2>
</div>

<div style="clear: both;">&nbsp;</div>
<div class="entry">
<table class="container">
  <tr>
    <td>
      <%= form_tag movies_path, :method => :get do |f| %>
        <%= text_field_tag :q, @query, 'data-autocomplete-url' => autocomplete_movies_path %>
        <%= submit_tag 'Search' %>
      <% end %>
    </td>
  </tr>
</table>
</div>

<div style="clear: both;">&nbsp;</div>
<div class="entry">
  <table>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
      </tr>
    <% end %>
  </table>
</div>