<div class="entry">
  <h2 class="title">O projekte</h2>
</div>

<div style="clear: both;">&nbsp;</div>
<div class="entry">
  Projekt zachytáva obsadenosť predstavení na základe času pred predstavením. Obsadenosť predstavení
  je zachytávaná v časovom rozmedzí od 3 dní do začiatku predstavenia. Údaje boli získané z webového
  portálu na predaj vstupeniek na predstavenia a nie je pravidelne aktualizovaný. V budúcnosti ak bude
  čas, bude dorobené automatické sťahovanie a lepšie filtrovanie názvov filmov. V neposlednej rade by
  som chcel zlepšiť údajovú databázu predstavení a filmov, ktorá je zatiaľ len v testovacej prevádzke.
  <div style="clear: both;">&nbsp;</div>
  
  <table>
    <tr>
      <td width="70">
        <%= image_tag("rails.png") %>
      </td>
      <td valign="top">
        Tento projekt vznikol ako školský projekt na predmete VOS II. Autorom týcho stránok je
        <a href="http://www.twitter.com/rackom">@rackom</a> a som študentom <a href="http://www.fiit.stuba.sk">
        Fakulty informatiky a informačných technológií</a> na Slovenskej Technickej Univerzite v Bratislave.
      </td>
    </tr>
  </table>
</div>